<div class="container-fluid p-0" >
  <mat-drawer-container class="example-container " style="height: 100vh;">
    <mat-drawer mode="side" class="p-3 w-100" opened >

      <div class="container-fluid p-3 text-center">
        <p class="fs-4 d-none d-lg-block">Mantenimientos</p>

        <div class="row d-flex flex-column">

          <!-- <div class="col my-4" id="asidebutton">
            <a [routerLink]="['dashboard']" [routerLinkActive]="'active'">
              <span>Dashboard Principal</span>
            </a>
          </div> -->

          <div class="col my-4" id="asidebutton">

            <a class="btnaside p-3 fs-6"   [routerLink]="['vehiculos']" [routerLinkActive]="'active'">
              <i class="bi bi-car-front-fill fs-3"></i>
              <span>Vehiculos</span>
            </a>
          </div>

          <div class="col my-4" id="asidebutton">
            <a class="btnaside p-3 fs-6"   [routerLink]="['mantenimientos']" [routerLinkActive]="'active'">
              <i class="bi bi-tools fs-3"></i>
              <span>Mantenimientos</span>
            </a>
          </div>

        </div>

      </div>

    </mat-drawer>
    <mat-drawer-content>

     <router-outlet></router-outlet>

    </mat-drawer-content>
  </mat-drawer-container>

</div>
