<div class="container-sm my-4">

  <div class="content-header d-flex justify-content-between my-4">
    <div class="main-title ">
      <h3>Lista de mantenimientos realizados</h3>
    </div>

    <div class="search w-auto w-100">
      <div class="input-search d-flex  gap-2 align-items-center justify-content-center">
        <input class="form-control w-100" placeholder="Busqueda de mantenimiento" [(ngModel)]="search" (input)="applyFilter($event)" />
        <label class="form-label">
          <i class="bi bi-search fs-5"></i>
        </label>
      </div>
    </div>
  </div>

  <div class="container-sm container-mantenimientos rounded-2">
    <table mat-table [dataSource]="dataSource" class="rounded-2">

      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef> Fecha </th>
        <td mat-cell *matCellDef="let mantenimiento"> {{mantenimiento.fecha | date: 'dd/MM/yyyy hh:mm:ss' }} </td>
      </ng-container>

      <ng-container matColumnDef="placa">
        <th mat-header-cell *matHeaderCellDef> Placa </th>
        <td mat-cell *matCellDef="let mantenimiento"> {{mantenimiento.placa}} </td>
      </ng-container>

      <ng-container matColumnDef="codigo">
        <th mat-header-cell *matHeaderCellDef> Codigo </th>
        <td mat-cell *matCellDef="let mantenimiento"> {{getCodigoTexto(mantenimiento.codigo)}} </td>
      </ng-container>

      <ng-container matColumnDef="marca_producto">
        <th mat-header-cell *matHeaderCellDef> Marca del producto </th>
        <td mat-cell *matCellDef="let mantenimiento"> {{mantenimiento.marca_producto}} </td>
      </ng-container>

      <ng-container matColumnDef="precio">
        <th mat-header-cell *matHeaderCellDef> Precio </th>
        <td mat-cell *matCellDef="let mantenimiento"> {{mantenimiento.precio | currency}} </td>
      </ng-container>

      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let mantenimiento">
          <button class="edit-button" (click)="editMantenimientoV(mantenimiento)">
            <i class="bi bi-pencil fs-5"></i>
          </button>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>

</div>

<div class="modal" *ngIf="formulario">
  <div class="modal-dialog-centered formulario-direccion" style="max-width: 524px; width: 100%; max-height: 834px; height: 90vh;">
  <form [formGroup]="mantenimientoForm" (ngSubmit)="onSubmitEdit()">
    <div class="modal-content">
      <h2 class = "titulo-direccion">Detalles del Mantenimiento</h2>
        <div class="d-flex gap-3">
          <input type="hidden" formControlName="_id">

          <div class="w-100 pt-3 ">
            <div class="form-group">
              <label for="modelo">Fecha:</label>
              <input type="hidden" formControlName="codigo" class="form-control">
              <input type="date" class="form-control" formControlName="fecha">
            </div>
          </div>

          <div class="w-100 pt-3">
            <div class="form-group">
              <label for="modelo">Placa:</label>
              <input type="text" formControlName="placa" class="form-control">
            </div>
          </div>
        </div>

        <div class="d-flex gap-3">

          <div class="w-100 pt-3 ">
            <div class="form-group">
              <label for="placa">Precio:</label>
              <input type="number" formControlName="precio" class="form-control">
            </div>
          </div>

          <div class="w-100 pt-3 ">
            <div class="form-group">
              <label for="anio">Marca del producto:</label>
              <input type="text" formControlName="marca_producto" class="form-control">
            </div>
          </div>

          <div class="w-100 pt-3 ">
            <div class="form-group">
              <label for="placa">Kilometraje:</label>
              <input type="number" formControlName="kilometraje" class="form-control">
            </div>
          </div>

        </div>


        <div class="row mt-5 justify-content-center">
          <div class="col-md-6 text-md-end mb-3 mb-md-0">
            <button (click)="cerrarModal()" class="btn btn-outline-secondary">CANCELAR</button>
          </div>
          <div class="col-md-6 text-md-start">
            <button type="submit" class="btn btn-success ">ACEPTAR</button>
          </div>
        </div>

  </div>
  </form>

  </div>
</div>
